body{
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);

}
#qr{
    height: 220px;
    width: 210px;
    position: absolute;   
    border-radius: 10px;
    left: 10px;
    top: 10px;
}
.BackGround{
    height: 400px;
    width: 230px;
    background-color:hsl(0, 0%, 100%) ;
    border-radius: 10px;
    position: relative;
    margin: auto auto;
    top: 100px;
}
#h2{
    position: absolute;
    float: bottom;
    left: 10px;
    right:10px;
    bottom: 100px;
    font-size: large;
    color: hsl(218, 44%, 22%);
}
#d1{
    position: absolute;
    float: bottom;
    left: 10px;
    right:10px;
    bottom: 30px;
    font-size: medium;
    color: hsl(220, 15%, 55%);
}

.attribution{

    position: absolute;right: 20px;
    bottom: 20px;


}